<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>IMDB But Better</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <style>
        input.ng-valid.ng-dirty {
            background-color:green;
        }
        input.ng-invalid.ng-dirty {
            background-color: red;
        }
 
    </style>
</head>
<body data-ng-app="movieApp" >
    <h1>IMDB But Better</h1>
    <pre>
</pre>
    <div data-ng-controller="MovieListController" class="row">

        Flag: {{ flag | checkmark }}

        <select ng-model="predicate">
            <option value="title">Title</option>
            <option value="length">Length</option>
        </select>


        <div class="col-md-6">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Length</th>
                        <th></th>
                    </tr>
                </thead>
                <tr data-ng-repeat="movie in movies | orderBy:predicate">
                    <td>{{movie.title |uppercase}}</td>
                    <td>{{movie.length}}</td>
                    <td><input type="button" value="Edit" class="btn btn-default" ng-click="edit(movie)" /></td>
                </tr>
            </table>
        </div>
        <div class="col-md-6" ng-show="editable.movie">
            <!--Single quotes are required, otherwise Angular will try to parse the value-->
            <div ng-include="'movieApp/templates/movieEdit.html'">

            </div>
        </div>
    </div>
    <script src="scripts/angular.js"></script>
    <script src="scripts/jquery-1.9.1.js"></script>
    <script src="scripts/bootstrap.js"></script>
    <script src="movieApp/movieApp.min.js"></script>
    <script src="movieApp/services/movieService.min.js"></script>
    <script src="movieApp/controllers/movieListController.min.js"></script>
    <script src="movieApp/controllers/movieEditController.js"></script>
    <script src="movieApp/filters/checkmark.js"></script>
</body>
</html>
